$color-main-theme: rgba(243, 166, 0, 0.7);
$color-main-theme--dark: rgba(243, 166, 0, 1);
$color-main-theme--light: rgba(243, 166, 0, 0.2);
$color-main-font: rgba(209, 0, 0, 1);
$color-main-font--light: rgba(209, 0, 0, 0.7);
$color-font-light: rgba(0, 0, 0, 0.3);

$font-main: "Anton", sans-serif;
